<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">
            <a href="{{ path('app_homepage') }}" class="text-dark">{{ 'books.catalog'|trans }}</a>
        </h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2{% if app.request.get('_route') == 'book_index' %} text-primary {% else %} text-dark{% endif %}" href="{{ path('book_index') }}">{{ 'books.list'|trans }}</a>
            <a class="p-2{% if app.request.get('_route') == 'author_index' %} text-primary{% else %} text-dark{% endif %}" href="{{ path('author_index') }}">{{ 'authors.list'|trans }}</a>
        </nav>
    </div>
</header>
